

{% load crispy_forms_tags%}

{% block title %}
<title>Show Contacts</title>
{% endblock %}

{% block content%}
<table border="1px">
    <tr>
        <td>ID</td>
         <td>Name</td>
         <td>Address</td>
         <td>MobileNo</td>
    </tr>
{% for contact in page_obj %}
    <tr>
     <td>{{ contact.id }}</td>
    <td>{{ contact.name|upper }}</td>
    <td>{{ contact.address|upper }}</td>
    <td>{{ contact.mblno }}</td>

     </tr>
 {% endfor %}
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>






{% endblock%}
